<section id="section-{{ section.id }}" class="section" data-section-id="{{ section.id }}"
	data-section-type="[[custom section]]">
	<div class="content">
		<main>
			<article>
				<!-- FORM -->
				<header class="form__header--bgImg"
					style="background-image: url({{ section.settings.image | img_url: 'master' }})">
					<div class="grid grid--center form__grid">
						<div class="form__wrapper rowCustom">
							<div class="1/2 2/2--pocket 2/2--thumb grid__cell--center form__heading--container">
								<div class="form__heading--title">
									<h1 class="form__heading--h1">Rejoignez le mouvement de l’écologie hédoniste en 2 minutes</h1>
								</div>
							</div>
							<div class="1/2 2/2--pocket 2/2--thumb grid__cell--center  form__form--wrapper">
								<div class="form__form--main">
									{%- form 'contact' -%}

									{%- if form.posted_successfully? -%}
									<div class="successForm feedback">
										<p>{{ 'contact.form.submit_success' | t }}</p>
									</div>

									{%- else -%}

									{%- if form.errors -%}
									<div class="feedback error p">
										{{ form.errors | default_errors }}
									</div>
									{%- endif -%}

									<form id="form__form--contactWrapper" class="form__form--contactWrapper">
										<div stepform="1" class="form__form--stepform stepform--0" id="form__form--stepForm-0">

											<div class="form__form--contactStep">Étape 1 sur 4</div>
											<div class="form__form--contactTitle">Vous aussi, devenez Conseiller Sunology®</div>

											<div class="form__form--contactContent">
												<p class="form__form--coordContent">Vos coordonnées</p>

												<div class="3/3 3/3--thumb 3/3--pocket grid__cell--center form__form--gridPocketCustom">
													<span class="form__form--spanCivility">Civilité *</span>
													<div class="rowCustom form__form--radioWidth">
														<div class="2/2 2/2--thumb 2/2--pocket grid__cell form__form--radioContainer">
															<label class="form__form--radio" for="form__form--genderF">
																Madame
																<input class="form__form--radioInput" type="radio" id="form__form--genderF"
																	name="contact[gender]" value="Madame">
																<span class="form__form--checkmark" for="form__form--genderF"></span>
															</label>
														</div>
														<div class="2/2 2/2--thumb 2/2--pocket grid__cell form__form--radioContainer">
															<label class="form__form--radio" for="form__form--genderM">
																Monsieur
																<input class="form__form--radioInput" type="radio" id="form__form--genderM"
																	name="contact[gender]" value="Monsieur" checked>
																<span class="form__form--checkmark" for="form__form--genderM"></span>
															</label>
														</div>
													</div>
												</div>

												<div class="3/3 3/3--thumb 3/3--pocket grid__cell--center">
													<input type="text" id="form__form--firstnameInput" name="contact[firstname]"
														class="form__form--input form__form--validation" placeholder="Prénom *" value required>
													<div class="form__form--invalidFeedback">Veuillez saisir votre prénom.</div>
												</div>

												<div class="3/3 3/3--thumb 3/3--pocket grid__cell--center">
													<input type="text" id="form__form--lastnameInput" name="contact[lastname]"
														class="form__form--input form__form--validation" placeholder="Nom *" value required>
													<div class="form__form--invalidFeedback">Veuillez saisir votre nom.</div>
												</div>

												<div class="3/3 3/3--thumb 3/3--pocket grid--right form__form--buttonWrapper">
													<button id="btn0" type="button"
														class="button button--primary form__form--button form-next-step" aria-label="SUIVANT"
														title="SUIVANT" to-step="2">
														{% include 'icon-arrow-slider' %}
														SUIVANT
													</button>
												</div>
											</div>
										</div>
										<div stepform="2" class="form__form--stepform stepform--1None" id="form__form--stepForm-1">

											<div class="form__form--contactStep">Étape 2 sur 4</div>
											<div class="form__form--contactTitle">Vous aussi, devenez Conseiller Sunology®</div>

											<div class="3/3 3/3--thumb 3/3--pocket grid__cell--center">
												<input type="text" id="form__form--streetnumberInput" name="contact[streetnumber]"
													class="form__form--input form__form--validation" placeholder="Numéro de rue" value>
											</div>

											<div class="3/3 3/3--thumb 3/3--pocket grid__cell--center">
												<input type="text" id="form__form--streetInput" name="contact[street]"
													class="form__form--input form__form--validation" placeholder="Rue *" value required>
												<div class="form__form--invalidFeedback">Veuillez saisir votre rue.</div>
											</div>

											<div class="3/3 3/3--thumb 3/3--pocket grid__cell--center">
												<input type="text" id="form__form--postcodeInput" name="contact[postcode]"
													class="form__form--input form__form--validation" placeholder="Code postal *" value required>
												<div class="form__form--invalidFeedback">Veuillez saisir votre code postal.</div>
											</div>

											<div class="3/3 3/3--thumb 3/3--pocket grid__cell--center">
												<input type="text" id="form__form--cityInput" name="contact[city]"
													class="form__form--input form__form--validation" placeholder="Ville *" value required>
												<div class="form__form--invalidFeedback">Veuillez saisir votre ville.</div>
											</div>

											<div class="3/3 3/3--thumb 3/3--pocket grid--right form__form--buttonStep1">
												<button type="button" id="btn1Rev"
													class="button button--primary form__form--button previous-btn" aria-label="PREVIOUS"
													title="PREVIOUS" to-step="1">
													{% include 'icon-arrow-slider-left'%}
												</button>
												<button id="btn0" type="button" class="button button--primary form__form--button form-next-step"
													aria-label="SUIVANT" title="SUIVANT" to-step="3">
													{% include 'icon-arrow-slider' %}
													SUIVANT
												</button>

											</div>
										</div>
										<div stepform="3" class="form__form--stepform stepform--2None" id="form__form--stepForm-2">

											<div class="form__form--contactStep">Étape 3 sur 4</div>
											<div class="form__form--contactTitle">Vous aussi, devenez Conseiller Sunology®</div>

											<div class="3/3 3/3--thumb 3/3--pocket grid__cell--center">
												<input type="text" id="form__form--phoneInput" name="contact[phone]"
													class="form__form--input form__form--validation" placeholder="Téléphone *" value required>
												<div class="form__form--invalidFeedback">Veuillez saisir votre téléphone.</div>
											</div>

											<div class="3/3 3/3--thumb 3/3--pocket grid__cell--center">
												<input type="email" id="form__form--mailInput" name="contact[email]"
													class="form__form--input form__form--validation" placeholder="Mail *" value required>
												<div class="form__form--invalidFeedback">Veuillez saisir votre mail.</div>
											</div>

											<div class="3/3 3/3--thumb 3/3--pocket grid__cell--center">
												<label class="form__form--labelTextarea" for="form__form--message">Votre message - Si vous
													connaissez déjà un
													conseiller, merci d'indiquer son nom</label>
												<textarea id="form__form--message" name="contact[message]"
													class="form__form--message form__form--validation"></textarea>
											</div>

											<div class="3/3 3/3--thumb 3/3--pocket grid--right form__form--buttonStep1">
												<button type="button" id="btn2Rev"
													class="button button--primary form__form--button previous-btn" aria-label="SUIVANT"
													title="SUIVANT" to-step="2">
													{% include 'icon-arrow-slider-left' %}
												</button>
												<button id="btn0" type="button" class="button button--primary form__form--button form-next-step"
													aria-label="SUIVANT" title="SUIVANT" to-step="4">
													{% include 'icon-arrow-slider' %}
													SUIVANT
												</button>

											</div>
										</div>
										<div stepform="4" class="form__form--stepform stepform--3None" id="form__form--stepForm-3">

											<div class="form__form--contactStep">Étape 4 sur 4</div>
											<div class="form__form--contactTitle">Vous aussi, devenez Conseiller Sunology®</div>

											<div class="3/3 3/3--thumb 3/3--pocket grid__cell--center form__form--credentials">
												<div class="form__form--radioRgpd">
													<input type="checkbox" id="form__form--radioRgpd" name="contact[cgu]"
														class="form__form--radioRgpdInput" value required>
													<label for="form__form--radioRgpd" class="form__form--radioRgpdLabel">
														J'accèpte la
														<a style="color: #21E8FF;">déclaration de confidentialité</a>
														*
													</label>
													<div class="form__form--invalidFeedback">Veuillez accèpter la déclaration de confidentialité.
													</div>
												</div>
												<div class="form__form--mention">
													Les données personnelles vous concernant suivies d’un astérisque (*) sont nécessaires à
													SUNOLOGY au traitement de
													votre demande d’information.
													Pour de plus amples détails sur l’utilisations de vos données personnelles, rendez-vous dans
													la
													<a style="color: #21E8FF;">Politique de confidentialité</a>
												</div>
												<hr>
												<div class="form__form--star">
													* = Champs obligatoires
												</div>
											</div>
											<div class="3/3 3/3--thumb 3/3--pocket grid--right form__form--buttonStep1">
												<button type="button" id="btn3Rev"
													class="button button--primary form__form--button previous-btn" aria-label="SUIVANT"
													title="SUIVANT" to-step="3">
													{% include 'icon-arrow-slider-left' %}
												</button>
												<button type="submit" class="button button--primary form__form--button"
													aria-label="ÊTRE CONTACTÉ" title="ÊTRE CONTACTÉ" id="submitButton">
													{% include 'icon-arrow-slider' %}
													ÊTRE CONTACTÉ
												</button>

											</div>
										</div>
									</form>
									{%- endif -%}
									{%- endform -%}
								</div>
							</div>
						</div>
					</div>
				</header>
				<!-- UNDERHERO  -->
				<div class="underhero__wrapper">
					<div class="grid grid--center underhero__grid">
						<div class="rowCustomUnderhero underhero__wrapper--container">
							<div class="1/2--lap-and-up grid__cell--center underhero__img--cell">
								<div class="underhero__img--content">
									<img class="underhero__img--svg" src="{{ 'circle_arrow.svg' |asset_url }}" alt="circle_arrow_logo">
								</div>
							</div>
							<div class="1/2--lap-and-up grid__cell--center underhero__grid--cell">
								<div class="underhero__info--content">
									<div>
										<p class="underhero__info--title">Rejoindre Sunology, c’est&nbsp;:</p>
										<ul>
											<li class="underhero__li">allier convictions &amp; revenus complémentaires</li>
											<li class="underhero__li">devenir ambassadeur de l’énergie solaire</li>
											<li class="underhero__li">découvrir en avant-première nos produits solaires premium</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- VIDEO -->
				<div class="video__wrapper">
					<div class="video__wrapper--container">
						<div class="grid grid--center video__grid">
							<div class="rowCustom video__text--content">
								<div class="2/2 2/2--pocket 2/2--thumb grid__cell--center">
									<h3 class="video__text--title">Passons de la restriction à l’abondance !</h3>
									<p class="video__text--paragraph">
										Et si l’écologie était tout sauf une régression? Si être éco-responsable,
										c’était tout sauf se restreindre, couper l’électricité et se chauffer moins?
										Si au contraire le développement durable, c’était profiter de l’abondance d’énergies qui,
										en plus d’être notre avenir, n’ont pas besoin d’être économisées?
									</p>
								</div>
								<div class="2/2 2/2--pocket 2/2--thumb grid__cell--center video__content--wrapper">
									<figure class="video__figure--container">
										<div class="video__iframe--wrapper">
											<iframe class="video__iframe--content" width="960" height="540"
												src="https://www.youtube.com/embed/hTCkTGZ5b6Q" frameborder="0"
												allow="accelerometer; 
                                                                                                     autoplay; 
                                                                                                     clipboard-write; 
                                                                                                     encrypted-media; 
                                                                                                     gyroscope; 
                                                                                                     picture-in-picture" allowfullscreen></iframe>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ENJOY MORE -->
				<div class="info__wrapper">
					<div class="info__container grid grid--center">
						<div class="info__first--container rowCustom"
							style="background-image: url({{ 'patern_cyan_small.svg' | asset_url }})">
							<div class="info__img--cell 1/2 1/2--thumb 2/2--pocket grid__cell--center">
								<div class="info__img--container">
									<img class="info__img--svg" src="{{ 'enjoy_more.svg' | asset_url }}" alt="enjoy_more_logo">
								</div>
							</div>
							<div class="info__text--cell 1/2 1/2--thumb 2/2--pocket grid__cell--center">
								<div class="info__text--container">
									<div>
										<p class="info__paragraph--primary">
											Chez Sunology, nous croyons que plutôt que de changer nos modes de vie, il est plus simple de
											changer de produits.
											<br>
											Et qu’une écologie hédoniste est la clé d’une vie plus riche pour tous.
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="rowCustom info__second--container">
							<div class="info__second--cell 3/3 3/3--pocket grid__cell--center">
								<h3 class="info__text--title">Les avantages de devenir vendeur à domicile indépendant</h3>
								<p class="info__paragraph--second">
									Chez Sunology®, faites de vos convictions votre métier.
									Venez exprimer vos talents en devenant Conseiller solaire à domicile.
									Vous pourrez échanger sur les produits et services avec vos clients et aurez l’occasion de développer
									votre réseau professionnel.
								</p>

								<div class="3/3 3/3--thumb 3/3--pocket grid--right">
									<a href="/collections/all" class="button button--primary info__button" aria-label="en savoir plus"
										title="en savoir plus">
										{% include 'icon-arrow-slider' %}
										en savoir plus</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</main>
	</div>
</section>

{% schema %}
{
"name": "nous-rejoindre",
"settings": [{
"id": "image",
"type": "image_picker",
"label": "background-image selection"
}],
"blocks": [],
"presets": [{
"name": "nous-rejoindre",
"category": "custom section"
}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}