<section id="section-{{ section.id }}" class="section" data-section-id="{{ section.id }}"
	data-section-type="[[SECTIONS CUSTOM]]">
	<div class="grid grid--center">
		{% for block in section.blocks %}
		<div class="image__container">
			<div class="3/3 grid__cell--center">
				<div class="image__image--wrapper">
					<div class="image__image--padding">
						<div class="image__image--img">
							<img alt="custom__image" src="{{ block.settings.image | img_url: 'master' }}">
						</div>
					</div>
				</div>
			</div>
			<div class="3/3 grid__cell--center">
				<div class="image__text--wrapper">
					<div class="image__text--padding">
						<div class="image__text--headingWrapper">
							<div class="image__text--heading">
								{{ block.settings.title }}
							</div>
						</div>
						<div class="image__text--paragraphWrapper">
							<div class="image__text--paragraph">
								{{ block.settings.paragraph }}
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

{% schema %}
{
"name": "photo-paragraph section",
"settings": [],
"blocks": [
{
"name": "image text custom",
"type": "image",
"settings": [{
"id": "image",
"type": "image_picker",
"label": "image selection"
},
{
"id": "paragraph",
"type": "richtext",
"label": "paragraph"
}]
}],
"presets": [{
"name": "photo-paragraph section",
"category": "SECTIONS CUSTOM"
}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}