<section id="section-{{ section.id }}" class="section" data-section-id="{{ section.id }}" data-section-type="[[custom section]]">
  <div class="content">
    <main>
      <article>
		<!-- FORM -->
		<!-- a mettre en setting -->
        <header style="background-image: url({{ section.settings.image | img_url: 'master' }})"> 
<!--           <div class="container">
                 <div>
                  <div>
                    <h1>Rejoignez le mouvement de l’écologie hédoniste en 2 minutes</h1>
                  </div>
                  <div>
               <div class="contact-form">
                        {%- form 'contact' -%}

                        {%- if form.posted_successfully? -%}
                        <div class="successForm feedback">
                          <p>{{ 'contact.form.submit_success' | t }}</p>
                        </div>

                        {%- else -%}

                        {%- if form.errors -%}
                        <div class="feedback error p">
                        {{ form.errors | default_errors }}
                        </div>
                        {%- endif -%}

                        <div id="contactFormWrapper">
                          <div class="form-step">Étape 1 sur 4</div>
                          <div class="form-title">Vous aussi, devenez Conseiller Sunology®</div>
                          <div class="form-content">
                          <div class="form-field">
                            <label for="Form-{{ section.id }}-name">{{ 'contact.form.name_field' | t }}</label>
                            <input type="text" class="contactFormText" id="Form-{{ section.id }}-name" name="contact[name]" autocapitalize="words" value="" />
                          </div>

                          <div class="form-field">
                            <label for="Form-{{ section.id }}-email">{{ 'contact.form.email_field' | t }}</label>
                            <input type="email" class="contactFormEmail" id="Form-{{ section.id }}-email" name="contact[email]" autocorrect="off" autocapitalize="off" />
                          </div>

                          <div class="form-field">
                            <label for="Form-{{ section.id }}-body">{{ 'contact.form.message_field' | t }}</label>
                            <textarea rows="10" id="Form-{{ section.id }}-body" class="contactFormMessage" name="contact[body]"></textarea>
                          </div>

                          <div><input type="submit" id="contactFormSubmit" class="button" value="{{ 'contact.form.submit_button' | t }}" /></div>
                          </div>
                        </div>
                        {%- endif -%}
                        {%- endform -%}
                    </div>
                  </div>
                </div> 
              </div> -->
        </header>
		<!-- UNDERHERO  -->
        <div class="underhero__wrapper">
          <div class="grid grid--center underhero__grid">
            <div class="rowCustom underhero__wrapper--container">
              <div class="1/2--lap-and-up grid__cell--center underhero__img--cell">
                <div class="underhero__img--content">
                  <img class="underhero__img--svg" src="{{ 'circle_arrow.svg' |asset_url }}"  alt="circle_arrow_logo">
                </div>
              </div>
              <div class="1/2--lap-and-up grid__cell--center underhero__grid--cell">
                <div class="underhero__info--content">
                  <div>
                  	<p class="underhero__info--title">Rejoindre Sunology, c’est&nbsp;:</p>
                    <ul>
                      <li class="underhero__li">allier convictions &amp; revenus complémentaires</li>
                      <li class="underhero__li">devenir ambassadeur de l’énergie solaire</li>
                      <li class="underhero__li">découvrir en avant-première nos produits solaires premium</li>
                    </ul>
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
		<!-- VIDEO -->
        <div class="video__wrapper">
          <div class="video__wrapper--container">
           <div class="grid grid--center video__grid">
            <div class="rowCustom video__text--content">
              <div class="2/2 2/2--pocket 2/2--thumb grid__cell--center">
              	<h3 class="video__text--title">Passons de la restriction à l’abondance !</h3>
                <p class="video__text--paragraph">
                  Et si l’écologie était tout sauf une régression? Si être éco-responsable, 
                  c’était tout sauf se restreindre, couper l’électricité et se chauffer moins? 
                  Si au contraire le développement durable, c’était profiter de l’abondance d’énergies qui, 
                  en plus d’être notre avenir, n’ont pas besoin d’être économisées?
                </p>
              </div>
              <div class="2/2 2/2--pocket 2/2--thumb grid__cell--center video__content--wrapper">
                  <figure class="video__figure--container">
                  <div class="video__iframe--wrapper">
                    <iframe class="video__iframe--content"
                      width="960" 
                      height="540" 
                      src="https://www.youtube.com/embed/hTCkTGZ5b6Q" 
                      frameborder="0" 
                      allow="accelerometer; 
                             autoplay; 
                             clipboard-write; 
                             encrypted-media; 
                             gyroscope; 
                             picture-in-picture" 
                      allowfullscreen></iframe>
                  </div>
                </figure>
              </div>
            </div>
           </div>
          </div>
        </div>
		<!-- ENJOY MORE -->
        <div class="info__wrapper">
          <div class="info__container grid grid--center">
          	<div class="info__first--container rowCustom" style="background-image: url({{ 'patern_cyan_small.svg' | asset_url }})">
              <div class="info__img--cell 1/2 1/2--thumb 2/2--pocket grid__cell--center">
                <div class="info__img--container">
                  <img class="info__img--svg" src="{{ 'enjoy_more.svg' | asset_url }}" alt="enjoy_more_logo">
                </div>
              </div>
              <div class="info__text--cell 1/2 1/2--thumb 2/2--pocket grid__cell--center">
                <div class="info__text--container">
                  <div>
                    <p class="info__paragraph--primary">
                      Chez Sunology, nous croyons que plutôt que de changer nos modes de vie, il est plus simple de changer de produits.
                    <br>
                      Et qu’une écologie hédoniste est la clé d’une vie plus riche pour tous.
                    </p>
                  </div>
                </div>
              </div>
         	</div>
          <div class="rowCustom info__second--container">
            <div class="info__second--cell 3/3 3/3--pocket grid__cell--center">
              <h3 class="info__text--title">Les avantages de devenir vendeur à domicile indépendant</h3>
              <p class="info__paragraph--second">
                 Chez Sunology®, faites de vos convictions votre métier. 
                 Venez exprimer vos talents en devenant Conseiller solaire à domicile. 
                 Vous pourrez échanger sur les produits et services avec vos clients et aurez l’occasion de développer votre réseau professionnel.
              </p>
				<a href="/collections/all" class="button button--primary" aria-label="EXEMPLE TITRE" title="EXEMPLE TITRE">
					{% include 'icon-arrow-slider' %}
					en savoir plus</a>
            </div>
            </div>
          </div>
        </div>
      </article>
    </main>
  </div>
</section>
{% schema %}
 {
	"name": "nous-rejoindre",
	"settings": [{
		"id": "image",
		"type": "image_picker",
		"label": "background-image selection"
	}],
	"blocks": [

	],
	"presets": [{
		"name": "nous-rejoindre",
		"category": "custom section"
	}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}