<section id="section-{{ section.id }}" class="section" data-section-id="{{ section.id }}" data-section-type="[[video__custom]]">
  <div class="custom-video-padding">
    <div class="custom-video-container">
      <div class="custom-video-heading-padding">
        <div class="custom-video-heading-container">
          <div class="custom-video-heading-content-title">
            <div class="h3" style="color: white">
            	<strong>
            		{{ product.metafields.global.video_title }}
            	</strong>
          	</div>
          </div>
          <div class="custom-video-heading-content-paragraph">
            <p style="color: white">
              <strong>
                {{ product.metafields.global.video_subtitle }}
              </strong>
            </p>
          </div>
        </div>
      </div>
      <div class="custom-video-iframe-padding">
        <div class="custom-video-iframe-container">
          <iframe class="custom-video-iframe-content" src="{{ product.metafields.global.video_url }}"></iframe>
<!--   if the client use a private source for the video an note youtube 
		  <video class="custom-video-iframe-content" controls loop>
  			<source src="movie.mp4" type="video/mp4">
  			<source src="movie.ogg" type="video/ogg">
  			Your browser does not support the video tag.
		  </video> -->
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
 {
    "name": "videoCustom",
    "settings": [],
    "blocks": [],
    "presets": [
   	  {
    	"name": "videoCustom",
   		 "category": "videoCustom"
  	  }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}